body {
  margin: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  text-decoration: none;

  color: #fff;
  // background: #fff url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  @media @tablet-widths {
    background-size: auto 730px;
     // background: #fff url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;

  }
  @media @desktop-widths {
    background-size: auto 814px;
     // background: #fff url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
  }
}



body > * {
  outline: 2px solid red;
}

body > * > * {
  outline: 2px dotted blue;
  outline-offset: -2px;
}

body > * > * > * {
  outline: 2px solid green;
  outline-offset: -4px;
}
