.contacts {
  display: flex;
  flex-direction: column;

  padding: 44px 0 0;

  font-size: 24px;
  font-weight: 300;

  color: #283645;
  // выравнивает по-центру flex-элементы

  align-items: center;
  @media @tablet-widths {
    padding: 46px 0;
    padding-bottom: 0;
  }
  @media @desktop-widths {
    padding: 65px 0;
    padding-bottom: 0;
  }
}

.contacts__title--hidden {
  .visually-hidden();
}

.contacts__inner {
  padding-bottom: 20px;

  .container();
  @media @tablet-widths {
    padding-bottom: 0;
  }
  @media @desktop-widths {
    padding-bottom: 20px;
  }
}

.contacts__tagline {
  max-width: 222px;
  margin: auto;
  margin-bottom: 35px;

  line-height: 29px;

  text-align: center;
  @media @tablet-widths {
    max-width: 369px;
    margin: auto;
    margin-bottom: 45px;

    font-size: 40px;
    line-height: 48px;
  }
  @media @desktop-widths {
    max-width: 461px;
    margin-bottom: 59px;

    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
  }
}

.contacts__items {
  display: flex;

  .list-reset();
  flex-wrap: wrap;
  justify-content: space-around;
  @media @tablet-widths {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;

    flex-flow: row wrap;
    align-content: center;
    // -----------------------------------------
  }
  @media @desktop-widths {
    padding-right: 5px;
    padding-left: 5px;

    flex-wrap: nowrap;
  }
}

.contacts__item {
  margin-bottom: 20px;
  padding: 0 15px;
  &:nth-child(3) {
    order: 3;
    align-self: center;
  }
  @media @tablet-widths {
    &:nth-child(1) {
      width: 50%;
      padding: 0;

      order: 1;
    }
    &:nth-child(2) {
      width: 50%;
      padding: 0;

      order: 2;
    }
    &:nth-child(3) {
      width: 100%;
      margin-top: 27px;
      margin-bottom: 25px;
      padding-right: 200px;
      padding-left: 200px;

      order: 3;
    }
  }
  @media @desktop-widths {
    &:nth-child(1) ,
    &:nth-child(2) ,
    &:nth-child(3) {
      width: 33.33%;
      margin: 0;
      padding: 0;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      padding-right: 25px;
      padding-left: 25px;

      order: 2;
    }
  }
}

.contacts__subtitle {
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  color: #283645;
  @media @desktop-widths {
    margin-bottom: 22px;
  }
}

.contacts__text {
  margin: 1px;

  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;

  color: #d22856;
}

.contacts__link {
  text-decoration: none;

  color: #d22856;
}

.contacts__map {
  position: relative;

  width: 100%;
  min-height: 200px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat 50% 0;
  background-size: auto 420px;
  // bg-triangle
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 35px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 35px;
  }
  @media @tablet-widths {
    min-height: 380px;

    background: url("../img/bg-map-tablet@1x.jpg") no-repeat 50% 0;
    background-size: auto;
    // bg-triangle
    &::before {
      height: 80px;

      background-size: 100% 80px;
    }
  }
  @media @desktop-widths {
    min-height: 502px;

    background: url("../img/bg-map-desktop@1x.jpg") no-repeat 50% 0;
    background-size: auto;
    // bg-triangle
    &::before {
      height: 125px;

      background-size: 100% 125px;
    }
  }
}
