.download {
  // position: absolute;
  // top: 350px;
  padding: 20px;
  background-color: #17212d;
}

.download__title {
  font-size: 0px;
}

.download__os-mobile {
  display: flex;
  justify-content: space-around;
}

.download__text {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

@media @tablet-widths {
  .download {
    position: relative;
    top: 0px;
    background-color: transparent;
  }
  .download__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 300;
  }
  .download__text {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}
