.posts {
  display: flex;
  flex-direction: column;
  .container()

    @media @tablet-widths {
    // &--panorama {} 
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.post {
  display: flex;

  margin-bottom: 20px;

  line-height: 24px;

  color: #283645;

  flex-wrap: wrap;
  align-items: baseline;

  @media @tablet-widths {
    width: 300px;
    height: 300px;
    margin: auto;

    &--panorama {
      width: 100%;
      margin: auto;
    }
  }
}


.post__link {
  display: flex;

  min-width: 280px;
  height: 180px;

  flex-basis: 100%;

  &--panorama {
    width: 100%;
    height: 137px;

    flex-basis: 100%;
    // background-size: auto; 
  }
}


.post__img {
  margin: auto;
}

.post__author {
  margin-right: 5px;
  margin-left: 15px;

  font-size: 14px;
  font-weight: 700;

  align-self: baseline;
}

.post__time {
  margin-right: 90px;

  font-size: 12px;
  font-weight: 300;

  text-transform: uppercase;

  align-self: baseline;
}

.post__comment {
  margin: 0 15px;

  font-size: 14px;
  font-weight: 400;

  flex-basis: 100%;
}

.post__like {
  margin-left: 30px;

  font-size: 12px;
  font-weight: 400;

  text-transform: uppercase;

  color: #d22856;

  flex-basis: 100%;
}
