.prices {
  overflow: hidden;

  min-width: 320px;
  padding-top: 86px;
  padding-bottom: 20px;

  line-height: 30px;

  background-color: #f2f2f2;
  @media @tablet-widths {
    // overflow: ;
    max-width: 100%;
    padding-top: 90px;
    padding-bottom: 44px;
  }
  @media @desktop-widths {
    padding-top: 75px;
    padding-bottom: 135px;
  }
}

.prices__title {
  min-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
  background-color: #283645;
  &--hidden {
    .visually-hidden();
  }
  @media @tablet-widths {
    max-width: 150px;
    padding-top: 14px;
    padding-bottom: 9px;
  }
  @media @desktop-widths {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.prices__name {
  margin: 0;

  font-weight: 700;
}

.prices__table {
  position: relative;

  width: 320px;
  margin-left: 20px;

  line-height: 30px;

  border-collapse: collapse;

  text-transform: uppercase;
  @media @tablet-widths {
    right: 0;

    width: 620px;
    margin: auto;
  }
  @media @desktop-widths {
    width: 940px;
  }
}

.prices__price {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  @media @tablet-widths {
    font-size: 18px;
    line-height: 30px;
  }
  @media @desktop-widths {
    font-size: 24px;
  }
}

.prices__item {
  padding: 15px 25px;

  font-size: 14px;

  text-align: left;
  text-transform: uppercase;

  color: #283645;
  border: 2px solid #e5e5e5;
  border-top: none;
  background: #fff;
  @media @tablet-widths {
    position: relative;

    padding: 7px 17px;

    text-transform: capitalize;
    //
    &--hidden {
      font-size: 0;
    }
    // галочки YES
    &--checked::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 40%;

      width: 25px;
      height: 10px;

      transform: rotate(-45deg);

      border-bottom: 3px solid #3dc643;
      border-left: 3px solid #3dc643;
    }
    // крестики NO
    &--unchecked::after ,
    &--unchecked::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 35%;

      width: 33px;
      height: 3px;

      background-color: #f25b26;
    }
    &--unchecked::after {
      transform: rotate(-45deg);
    }
    &--unchecked::before {
      transform: rotate(45deg);
    }
  }
}

//_--------------------------
.prices__toggle-hidden {
  display: none;
}

.prices__control-labels {
  width: 80px;
  margin: 23px auto;
}

.prices__control-label {
  display: inline-block;

  width: 6px;
  height: 6px;
  margin-right: 9px;

  vertical-align: middle;

  border: 3px solid transparent;
  border-radius: 50%;
  background-color: #bec2c7;
  background-clip: content-box;
  @media @tablet-widths {
    display: none;
  }
}

#slider-table-1:checked ~ .prices__control-labels label[for=slider-table-1] ,
#slider-table-2:checked ~ .prices__control-labels label[for=slider-table-2] ,
#slider-table-3:checked ~ .prices__control-labels label[for=slider-table-3] ,
#review-1:checked ~ .prices__control-labels label[for=review-1] ,
#review-2:checked ~ .prices__control-labels label[for=review-2] ,
#review-3:checked ~ .prices__control-labels label[for=review-3] {
  border: 3px solid #283645;
  background-color: transparent;
}

#slider-table-1:checked ~ .prices__table {
  transform: translate(0);
}

#slider-table-2:checked ~ .prices__table {
  transform: translate(-25%);
  @media @tablet-widths {
    transform: translate(0);
  }
}

#slider-table-3:checked ~ .prices__table {
  transform: translate(-75%);
  @media @tablet-widths {
    transform: translate(0);
  }
}
