.social {
  display: flex;

  max-width: 178px;
  height: 56px;
  margin-bottom: 37px;

  font-size: 0;

  justify-content: space-between;
  @media @tablet-widths {
    margin-right: 28px;
  }
  @media @desktop-widths {
    margin: 0;
  }
}

.social__title--hidden {
  .visually-hidden();
}

.social__link {
  position: relative;

  display: inline-block;

  width: 52px;
  height: 52px;

  font-size: 0;

  vertical-align: top;
  text-decoration: none;

  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #e9ebec;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    box-shadow: inset 0 0 0 3px @blue;
  }
  &:active {
    box-shadow: inset 0 0 0 3px #e9ebec;
    & .social__svg {
      opacity: 0.3;
    }
  }
}

.social__svg {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  fill: @pink;
}
