.social-links {
  display: flex;

  max-width: 177px;
  height: 51px;


  font-size: 0;

  justify-content: space-between;
  @media @tablet-widths {
    margin-right: 28px;
  }
}

.social-links__title--hidden {
  .visually-hidden()
}
