.upload {

  display: flex;
  flex-direction: column;

  padding-top: 10px;

  font-size: 14px;
  line-height: 30px;

  color: @white;

  align-items: center;
  @media @tablet-widths {
    padding-top: 12px;

    font-size: 18px;
  }
  @media @desktop-widths {
    paddig-top: 0;
  }
}
.upload__wrapper{
  .container();
}

.upload__title--hidden {
  .visually-hidden();
}

.upload__slogan {
  margin-bottom: 43px;

  font-size: 14px;
  line-height: 30px;

  text-align: center;

  color: @blue;

  font-weight: 400;
  max-width: 250px;
  @media @tablet-widths {
    max-width: 450px;
    margin-top: 35px;
    margin-bottom: 70px;

    font-size: 18px;
    line-height: 30px;
  }
  @media @desktop-widths {
    margin-top: 8px;
    margin-bottom: 67px;
  }
}

.upload__form {

  display: flex;
  flex-direction: column;

  padding: 20px 20px 33px;

  background-color: @grey;
  @media @tablet-widths {
    flex-direction: row;


    padding: 0;
    padding-top: 55px;
    padding-bottom: 54px;
    padding-left: 40px;
    padding-right: 40px;

    justify-content: space-around;
  }
  @media @desktop-widths {
    width: 940px;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 58px;
  }
}

.upload__img {
  width: 100%;
  margin-bottom: 0;
  @media @tablet-widths {
    width: 300px;

  }
  @media @desktop-widths {
    margin-left: 30px;
  }
}

.upload__container {

  display: flex;
  flex-direction: column;

  @media @desktop-widths {
    flex-direction: row;

    max-width: 424px;
    margin-right: 0;

    flex-wrap: wrap;
  }
}

.upload__btn {
  margin-bottom: 10px;
  @media @tablet-widths {
    min-width: 259px;
    margin-top: 40px;

    align-self: flex-end;
    &:last-child {
      margin-top: 24px;
    }
  }
  @media @desktop-widths {
    min-width: 180px;
  }
}

